body {
    background-color: #fdda5c;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    color: #233040;
    background-color: #5cbade;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 10px;
    flex-wrap: wrap;
}

nav a {
    background-color: #5cbade;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: #233040;
    padding: 5px 15px;
    transition: transform 0.3s ease;
    margin: 5px;
    font-size: 1em;
    font-weight: 500;
}

nav a:hover {
    background-color: #233040;
    color: #5cbade;
    transform: scale(1.1);
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}

article {
    border: 5px solid black;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

article .header {
    background-color: #5cbade;
    color: #233040;
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

article img {
    margin: 10px auto;
    display: block;
    height: auto;
    max-width: 100%;
}

article .one,
article .two {
    background-color: #5cbade;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    color: #233040;
    padding: 10px;
}

article footer {
    background-color: #5cbade;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    color: #233040;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

aside {
    background-color: #5cbade;
    border: 5px solid black;
    border-radius: 10px;
    color: #233040;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

footer {
    background-color: #5cbade;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    color: #233040;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) {
    .content {
        flex-wrap: nowrap;
    }

    article {
        width: 70%;
    }

    aside {
        width: 28%;
        margin-left: 10px;
    }
}

@media (min-width: 1024px) {
    nav a {
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .header, article .header {
        font-size: 2em;
    }
}
